[Sqlite官方教程](https://docs.python.org/zh-cn/3.9/library/sqlite3.html#sqlite3.Cursor.execute)

In [1]:
import sqlite3
con = sqlite3.connect('example.db')

In [11]:
cur = con.cursor()

# Create table
cur.execute("""CREATE TABLE `stocks`
                (`data text`, `trans text`, `symbol text`, `qty real`, `price`)""")

# Insert a row of data
cur.execute("INSERT INTO `stocks` VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
cur.execute("INSERT INTO `stocks` VALUES ('2006-03-28','BUY','IBM',1000,45.00)")
cur.execute("INSERT INTO `stocks` VALUES ('2006-04-06','SELL','IBM',500,53.00)")
cur.execute("INSERT INTO `stocks` VALUES ('2006-04-05','BUY','MSFT',1000,72.00)")


# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

In [12]:
import sqlite3
con = sqlite3.connect('example.db')
cur = con.cursor()

In [13]:
for row in cur.execute('SELECT * FROM `stocks` ORDER BY `price`'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000, 45.0)
('2006-04-06', 'SELL', 'IBM', 500, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)

In [14]:
import sqlite3

con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("create table `lang` (`name`, `first_appeared`)")

# This is the qmark style:
cur.execute("insert into `lang` values (?, ?)", ("C", 1972))

# The qmark style used with executemany():
lang_list = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cur.executemany("insert into `lang` values (?, ?)", lang_list)

# And this is the named style:
cur.execute("select * from `lang` where `first_appeared`=:year", {"year": 1972})
print(cur.fetchall())

# Close the database connection.
con.close()

[('C', 1972)]