# 2.2 list comprehension and generator expression

In [35]:
# the use of list comprehension
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [36]:
# the use of generator expression
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

# 2.3 Tuple

In [37]:
# upacking makes tuple can be used as a record perfectly
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

for country, _ in traveler_ids:
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

In [38]:
# tuple unpacking can be used to initialize multiple variables
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [39]:
# a elegant way to swap two variables
a = 1
b = 2
a, b = b, a
print(a)
print(b)

2
1

In [40]:
# you can also use * to grab excess items
t = (20, 8)
quotient, remainder = divmod(*t)
print(quotient)
print(remainder)

2
4

In [41]:
# tuple unpacking can be used to return multiple values from a function
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub') # sometimes you may not need some of the values, so you can use _ to ignore them
filename

'idrsa.pub'

In [42]:
# if you are not sure about the number of return values, you can use * to grab them all
a, b, *rest = range(5) # the * can only appear once, but it can appear in any position
print(a)
print(b)
print(rest)

0
1
[2, 3, 4]

In [43]:
# nested tuple unpacking
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), # the last element is a tuple
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: # the last element is a tuple
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [44]:
# named tuple
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates') # the first argument is the name of the class, the second argument is the fields of the class
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667)) # the arguments are the values of the fields
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [45]:
City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667)) # the fields can be accessed by name or position
tokyo.coordinates

(35.689722, 139.691667)

In [46]:
City._fields # the class has a _fields attribute which is a tuple with the field names of the class

('name', 'country', 'population', 'coordinates')

In [47]:
LatLong = namedtuple('LatLong', 'lat long') # the class can be used to represent a kind of data
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889)) # the last element is a LatLong object
delhi = City._make(delhi_data) # the _make() class method allows you to instantiate a named tuple from an iterable, it is equivalent to City(*delhi_data)
delhi._asdict() # the _asdict() method returns a collections.OrderedDict built from the named tuple instance

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

# 2.4 Slice

In [48]:
# slicing
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                    $17.50    3    $52.50
1489  6mm Tactile Switch x20                $4.95    2     $9.90
1510  Panavise Jr. - PV-201                $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240               $34.95    1    $34.95
"""
SKU = slice(0, 6) # the slice() function returns a slice object that can be used anywhere a slice is allowed
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None) # the last element is None, which means the end of the sequence
line_items = invoice.split('\n')[2:] # the first two lines are the header
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION]) # the slice object can be used as indices in a sequence

   $17.50    Pimoroni PiBrella
    $4.95    6mm Tactile Switch x20
   $28.00    Panavise Jr. - PV-201
   $34.95    PiTFT Mini Kit 320x240

In [49]:
# ellipsis
# ... is a built-in constant, it is an alias for the Ellipsis object, it can be used in slicing
print(...)
type(...) # Ellipsis is a singleton object of the ellipsis class

Ellipsis

ellipsis

In [50]:
# assigning to slices
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
l[2:5] = [20, 30] # the length of the slice and the length of the iterable do not need to be the same
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [52]:
del l[5:7] # you can also delete a slice
l

[0, 1, 20, 30, 5, 8, 9]

In [53]:
l[3::2] = [11, 22] # you can also assign to a slice with a different length
l

[0, 1, 20, 11, 5, 22, 9]

In [55]:
l[2:5] = 100

TypeError: can only assign an iterable

In [54]:
l[2:5] = [100] # if you want to assign to a slice, the right side must be an iterable, even if it has only one item
l

[0, 1, 100, 22, 9]

In [57]:
# building lists of lists
board = [['_'] * 3 for i in range(3)] # each time the expression is evaluated, a new list is created
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [58]:
board[1][2] = 'X' 
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [60]:
# here is a wrong way to build a list of lists
weird_board = [['_'] * 3] * 3 # the outer list is made of three references to the same inner list
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [61]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

# 2.6 the argumented assignment of the sequence

In [1]:
# the argumented assignment of sequences
l = [1, 2, 3]
id(l)

2057410617344

In [3]:
l *= 2 # the argumented assignment of list is equivalent to extend()
l

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
id(l) # the id of the list does not change

2057410617344

In [5]:
t = (1, 2, 3)
id(t)

2057406842496

In [6]:
t *= 2
t

(1, 2, 3, 1, 2, 3)

In [7]:
id(t) # the id of the tuple changes

2057406414752

In [3]:
# a += assignment puzzler
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [5]:
t # you will get an error, because the tuple is immutable, but the list is still changed

(1, 2, [30, 40, 50, 60])

# 2.7 list.sort() and the sorted() built-in function

In [8]:
# list.sort() and the sorted() built-in function
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits) # the sorted() function returns a new list, it does not change the original list

['apple', 'banana', 'grape', 'raspberry']

In [9]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [10]:
sorted(fruits, reverse=True) # the sorted() function accepts two arguments, reverse and key

['raspberry', 'grape', 'banana', 'apple']

In [11]:
sorted(fruits, key=len) # the key argument is a one-argument function that will be applied to each item to produce its sorting key

['grape', 'apple', 'banana', 'raspberry']

In [12]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [13]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [14]:
fruits.sort() # the sort() method sorts the list in place
fruits

['apple', 'banana', 'grape', 'raspberry']